.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
  font-size: 20px;

  &__icon {
    color: var(--color-blue);
    font-size: 28px;
  }

  &__txt {
    color: var(--text-theme-default);
  }

  &__img {
    width: 30px;
  }
}
