:root {
  --color-black: #000000;
  --color-white: #fff;
  --color-gray: rgba(180, 180, 180, 0.25);
  --color-gray-light: #c1c1c1;
  --color-blue: #1a79e5;
  --color-pink: #f05252;
  --box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);

  //
  --border-radius-main: 10px;
  --padding-main: 15px;

  // for themeContext
  --text-theme-dark: #ffffff;
  --text-theme-light: #000000;
  --text-theme-default: var(--text-theme-light);

  --background-theme-dark: #222222;
  --background-theme-light: #ffffff;
  --background-theme-default: var(--background-theme-light);

  --body-theme-dark: #000000;
  --body-theme-light: #f7f7f8;
  --body-theme-default: var(--body-theme-light);
}
