.search {
  padding: 5px 15px;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-grow: 1;
  border-radius: var(--border-radius-main);
  background-color: var(--color-gray);

  &-icon {
    color: var(--text-theme-default);
  }

  &-input {
    display: flex;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 300;
    border: none;
    background-color: transparent;
    outline: none;
    color: var(--text-theme-default);
  }
}
